@import url(../vendor/fontopensans/stylesheet.css);
@import url(../vendor/fontbebas/stylesheet.css);
@import url(https://fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic);
/* COLORS */
/* font size */
/* link underline */
/* :after */
/* line-through */
/* */
/* html.scss */
/* line 7, ../sass/html.scss */
body {
  font-size: 14px;
  color: #888888;
  font-family: 'open_sanslight';
  font-weight: 100;
  line-height: 1.8;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../sass/html.scss */
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 23, ../sass/html.scss */
a {
  color: #888888;
  outline: 0;
}
/* line 26, ../sass/html.scss */
a:hover, a:focus {
  color: #ffdd00;
  text-decoration: none;
  outline: 0;
}

/* line 33, ../sass/html.scss */
h3, h4, h5, h6 {
  margin: 0 0 15px;
  line-height: 1.2;
}

/* line 38, ../sass/html.scss */
h1, h2, h1#page-title {
  font-family: 'bebas_neue_regularregular';
  font-size: 2.857em;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 25px;
}

/* line 47, ../sass/html.scss */
.front h1#page-title {
  margin-bottom: 5px;
}

/* line 52, ../sass/html.scss */
input, button, select, textarea {
  padding: 5px 10px;
}

/* line 56, ../sass/html.scss */
input, textarea {
  border: 1px solid white;
}

/* line 60, ../sass/html.scss */
address {
  line-height: 1.8;
}

/* line 64, ../sass/html.scss */
.form-submit {
  border-color: #ffdd00;
  background-color: #ffdd00;
  color: #fff;
  padding: 8px 30px;
  text-transform: uppercase;
}
/* line 70, ../sass/html.scss */
.form-submit:hover, .form-submit:focus {
  background-color: #7d7d7d;
  color: #fff;
  border-color: #7d7d7d;
}

/* line 77, ../sass/html.scss */
.form-text, .form-textarea, .form-select {
  padding: 9px 10px;
  background-color: #0c0c0c;
  border: 1px solid #1e1e1e;
}

/* line 83, ../sass/html.scss */
.form-select {
  padding: 7px 10px;
}

/* line 87, ../sass/html.scss */
.form-checkbox {
  background-color: #0c0c0c;
  border: 1px solid #1e1e1e;
}

/* line 92, ../sass/html.scss */
.form-item {
  display: inline-block;
  margin: 0 0 15px;
}

/* line 98, ../sass/html.scss */
legend a {
  color: black;
}
/* line 100, ../sass/html.scss */
legend a:hover, legend a:focus {
  color: white;
}

/* line 106, ../sass/html.scss */
label {
  font-weight: normal;
}

/* line 110, ../sass/html.scss */
iframe {
  max-width: 100%;
}

/* line 114, ../sass/html.scss */
p {
  margin-bottom: 20px;
}

/* line 118, ../sass/html.scss */
textarea {
  border: 1px solid white;
  padding: 20px 30px;
  resize: none;
}

/* line 124, ../sass/html.scss */
.views-field, .field {
  margin-bottom: 15px;
}

/* line 128, ../sass/html.scss */
ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}

/* line 132, ../sass/html.scss */
ul.menu li {
  margin: 0;
}

/* line 135, ../sass/html.scss */
li.expanded, li.collapsed, li.leaf {
  margin: 0;
  padding: 0;
}

/* line 139, ../sass/html.scss */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* line 144, ../sass/html.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 149, ../sass/html.scss */
legend {
  color: #7d7d7d;
  border-color: #3a3a3a;
  font-size: 1.143em;
}

/* line 156, ../sass/html.scss */
.form-item input.error, .form-item textarea.error, .form-item select.error {
  border-width: 1px;
  border-color: #cb0000;
}

/* line 161, ../sass/html.scss */
.alert {
  margin-bottom: 50px;
}
/* line 163, ../sass/html.scss */
.modal-content .alert {
  margin-bottom: 20px;
}
/* line 165, ../sass/html.scss */
.modal-content .alert ul {
  margin-bottom: 0 !important;
}
