/* COLORS */
/* font size */
/* link underline */
/* :after */
/* line-through */
/* */
/* line 3, ../sass/page-rtl.scss */
.views-view-grid .views-col {
  float: right;
}

/* pager */
/* line 8, ../sass/page-rtl.scss */
.item-list .pager {
  text-align: left;
}
/* line 10, ../sass/page-rtl.scss */
.item-list .pager .pager-next a:before {
  content: "\f104";
}
/* line 13, ../sass/page-rtl.scss */
.item-list .pager .pager-previous a:before {
  content: "\f105";
}
/* line 16, ../sass/page-rtl.scss */
.item-list .pager .pager-first a:before {
  content: "\f101";
}
/* line 19, ../sass/page-rtl.scss */
.item-list .pager .pager-last a:before {
  content: "\f100";
}

/* end pager */
/* line 26, ../sass/page-rtl.scss */
html.js fieldset.collapsible .fieldset-legend {
  padding-right: 0;
}

/* line 30, ../sass/page-rtl.scss */
ul.inline, ul.links.inline {
  padding-right: 0;
}

/* line 34, ../sass/page-rtl.scss */
.tabs.primary, .tabs.secondary {
  margin: 0 0 30px 4px;
}

/* line 38, ../sass/page-rtl.scss */
ul.primary li a {
  margin-left: 0;
}

/* mfp */
/* line 44, ../sass/page-rtl.scss */
.mfp-title {
  padding-left: 36px;
  padding-right: 0;
  text-align: right;
}

/* line 50, ../sass/page-rtl.scss */
.mfp-counter {
  left: 0;
  right: auto;
}

/* end mfp */
/* line 58, ../sass/page-rtl.scss */
.headline .block {
  float: left;
}
/* line 60, ../sass/page-rtl.scss */
.headline .block:first-child {
  float: right;
}
/* line 65, ../sass/page-rtl.scss */
.headline .block-menu ul.menu {
  padding-right: 0;
}
/* line 68, ../sass/page-rtl.scss */
.headline .block-menu li a:after {
  padding-left: 0;
  padding-right: 5px;
}

/* line 75, ../sass/page-rtl.scss */
.ddsDefault .dd-pointer {
  left: 5px;
  right: auto;
}

/* end headline */
/* slideshow */
/* line 86, ../sass/page-rtl.scss */
.countdown-views {
  left: auto;
  right: 0;
  padding: 0 10% 0 30px;
  text-align: left;
}

/* line 97, ../sass/page-rtl.scss */
.countdown-views .views-field-view-node a:after,
.event-views .views-field-view-node a:after,
.event-type .views-field-view-node a:after {
  content: "\f177";
  padding-left: 0;
  padding-right: 5px;
}

/* line 105, ../sass/page-rtl.scss */
.flex-direction-nav a.flex-next {
  text-align: right;
}

/* end slideshow */
/* header */
/* line 113, ../sass/page-rtl.scss */
#logo {
  float: right;
}

/* line 117, ../sass/page-rtl.scss */
#block-search-form {
  left: 0;
  right: auto;
}

/* line 122, ../sass/page-rtl.scss */
.search-wrapper .form-actions {
  left: 0;
  right: auto;
}
/* line 125, ../sass/page-rtl.scss */
.search-wrapper .form-actions:after {
  content: "\f177";
  left: auto;
  right: 0;
}

/* line 132, ../sass/page-rtl.scss */
.search-wrapper .form-item input {
  padding-left: 70px;
  padding-right: 0;
}

@media (min-width: 992px) {
  /* line 140, ../sass/page-rtl.scss */
  #main-menu-inner {
    float: left;
    padding-left: 30px;
    padding-right: 0;
  }
  /* line 145, ../sass/page-rtl.scss */
  #main-menu-inner ul.menu > li {
    float: right;
  }
  /* line 148, ../sass/page-rtl.scss */
  #main-menu-inner ul.menu > li.expanded > a:after {
    margin-left: 0;
    margin-right: 4px;
  }

  /* line 157, ../sass/page-rtl.scss */
  .tb-megamenu .nav > li {
    float: right;
  }
}
/* end header */
/* line 167, ../sass/page-rtl.scss */
.why-choose-us-block h2,
.testimonials-block h2 {
  text-align: right !important;
}

/* line 172, ../sass/page-rtl.scss */
#panel-third .block-bean {
  float: right;
}

/* ui-jcoverflip */
/* line 178, ../sass/page-rtl.scss */
.ui-jcoverflip--item .views-field-view-node a {
  left: 0;
  right: auto;
}
/* line 181, ../sass/page-rtl.scss */
.ui-jcoverflip--item .views-field-view-node a:after {
  content: "\f177";
}

/* end ui-jcoverflip */
/* shopping-cart */
/* line 190, ../sass/page-rtl.scss */
.shopping-cart {
  float: left;
  margin-left: 0;
  margin-right: 20px;
}

/* end shopping-cart */
/* cart-review */
/* line 201, ../sass/page-rtl.scss */
.cart-review .line-item-summary {
  padding: 30px 30px 15px 0;
}
/* line 203, ../sass/page-rtl.scss */
.cart-review .line-item-summary span {
  padding-left: 0;
  padding-right: 15px;
}
/* line 208, ../sass/page-rtl.scss */
.cart-review .commerce-line-item-actions {
  float: left;
}
/* line 210, ../sass/page-rtl.scss */
.cart-review .commerce-line-item-actions .form-submit {
  margin-left: 0;
  margin-right: 10px;
}

/* line 217, ../sass/page-rtl.scss */
.views-align-right {
  text-align: left;
}

/* line 221, ../sass/page-rtl.scss */
.commerce-order-handler-area-order-total .commerce-price-formatted-components {
  margin-left: 0;
  margin-right: auto;
}

/* line 226, ../sass/page-rtl.scss */
.commerce-paypal-icon {
  margin-left: 4px;
  margin-right: 0;
}

/* line 231, ../sass/page-rtl.scss */
.commerce-paypal-icons .label {
  margin-left: 5px;
  margin-right: 0;
  padding-left: 0;
  padding-right: 19px;
}

/* end cart-review */
/* user */
/* line 242, ../sass/page-rtl.scss */
#user-profile-form #edit-language .form-item {
  margin-left: 15px;
  margin-right: 0;
}
/* line 246, ../sass/page-rtl.scss */
#user-profile-form #edit-picture .user-picture {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}

/* end user */
/* date-display-single */
/* line 257, ../sass/page-rtl.scss */
.date-display-single > span {
  float: right;
}
/* line 260, ../sass/page-rtl.scss */
.date-display-single .hour {
  border-left: 0;
  border-right: 1px solid #ffffff;
}

/* end date-display-single */
/* event-views */
/* line 270, ../sass/page-rtl.scss */
.event-views .views-field-type-image {
  float: left;
  margin-left: 0;
  margin-right: 100px;
}
/* line 278, ../sass/page-rtl.scss */
.event-views .views-slideshow-controls-bottom .views-slideshow-pager-field-item a:before {
  content: "\f0d9";
  padding-left: 5px;
  padding-right: 0;
}

/* end event-views */
/* event-tickets */
/* line 293, ../sass/page-rtl.scss */
.event-tickets .item-list > ul > li {
  float: right;
}
/* line 297, ../sass/page-rtl.scss */
.event-tickets .field-name-field-ticket {
  text-align: left;
}
/* line 299, ../sass/page-rtl.scss */
.event-tickets .field-name-field-ticket .form-submit {
  margin-left: -20px;
  margin-right: 0;
}

/* end event-tickets */
/* event-calendar */
/* line 310, ../sass/page-rtl.scss */
.event-calendar .calendar-calendar table th.days:first-child {
  border-left: 0;
}
/* line 313, ../sass/page-rtl.scss */
.event-calendar .calendar-calendar table th.days:last-child {
  border-right: 1px solid #141414;
}

/* end event-calendar */
/* speakers-views */
/* line 323, ../sass/page-rtl.scss */
.speakers-views .views-exposed-form .views-submit-button {
  float: right;
  text-align: right;
}

/* end speakers-views */
/* line 332, ../sass/page-rtl.scss */
.field-name-field-product-description li {
  padding: 0 20px 0 0 !important;
}
/* line 334, ../sass/page-rtl.scss */
.field-name-field-product-description li:before {
  left: auto;
  right: 0;
  -ms-transform: scale(-1, 1);
  /* IE 9 */
  -webkit-transform: scale(-1, 1);
  /* Chrome, Safari, Opera */
  transform: scale(-1, 1);
}

/* happy-clients */
/* line 345, ../sass/page-rtl.scss */
.happy-clients .flexslider .views-field-picture {
  left: auto;
  right: -50px;
}
/* line 349, ../sass/page-rtl.scss */
.happy-clients .flexslider .fieldset {
  padding: 20px 80px 20px 20px;
}

/* end happy-clients */
/* simplenews-subscribe */
/* line 359, ../sass/page-rtl.scss */
.simplenews-subscribe .form-submit {
  left: 30px;
  right: auto;
}
/* line 363, ../sass/page-rtl.scss */
.simplenews-subscribe .form-item {
  padding-left: 45px;
  padding-right: 0;
}
/* line 366, ../sass/page-rtl.scss */
.simplenews-subscribe .form-item:after {
  left: 0;
  right: auto;
}

/* end simplenews-subscribe */
/* blockquote */
/* line 377, ../sass/page-rtl.scss */
.panel-column blockquote {
  border-right: medium none;
}
/* line 379, ../sass/page-rtl.scss */
.panel-column blockquote:before, .panel-column blockquote:after {
  -ms-transform: scale(-1, 1);
  /* IE 9 */
  -webkit-transform: scale(-1, 1);
  /* Chrome, Safari, Opera */
  transform: scale(-1, 1);
}

/* end blockquote */
/* event-list */
/* line 389, ../sass/page-rtl.scss */
.event-list .views-field-type-image {
  float: left;
  margin: -15px 0 -15px -30px;
}
/* line 393, ../sass/page-rtl.scss */
.event-list .fieldset {
  float: right;
}

/* end event-list */
/* line 400, ../sass/page-rtl.scss */
.not-front #panel-fourth h2 {
  text-align: right;
}

/* meet-our-team */
/* line 407, ../sass/page-rtl.scss */
.meet-our-team .fieldset .views-field {
  margin-left: 5px;
  margin-right: 0;
}

/* end meet-our-team */
/* why-choose-us-block testimonials-block */
/* line 418, ../sass/page-rtl.scss */
.why-choose-us-block, .testimonials-block {
  float: right;
}

/* line 422, ../sass/page-rtl.scss */
.why-choose-us-block {
  padding-left: 15px;
  padding-right: 0;
}

/* line 427, ../sass/page-rtl.scss */
.testimonials-block {
  padding-left: 0;
  padding-right: 15px;
}
/* line 430, ../sass/page-rtl.scss */
.testimonials-block .flexslider {
  padding-left: 0;
  padding-right: 50px;
}

/* line 436, ../sass/page-rtl.scss */
.panel-group .panel-heading a:before {
  left: auto;
  right: 0;
}

/* end why-choose-us-block testimonials-block */
/* sidebar */
/* line 447, ../sass/page-rtl.scss */
.sidebar .block-menu ul.menu {
  padding-right: 0;
}

/* end sidebar */
/* latest-news */
/* line 456, ../sass/page-rtl.scss */
.latest-news .views-field-type-image {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}

/* end latest-news */
/* news-type */
/* line 466, ../sass/page-rtl.scss */
.news-type .views-field-view-node {
  left: 0;
  right: auto;
}
/* line 469, ../sass/page-rtl.scss */
.news-type .views-field-view-node a:after {
  content: "\f177";
  left: auto;
  right: 0;
}
/* line 475, ../sass/page-rtl.scss */
.news-type .views-field-comment-count,
.news-type .views-field-counter,
.news-type .views-field-sharethis {
  margin-left: 15px;
  margin-right: 0;
}

/* end news-type */
/* event-type */
/* line 488, ../sass/page-rtl.scss */
.event-type .date-display-single .hour {
  border-right-color: #313131;
}

/* end event-type */
/* contact page */
/* line 500, ../sass/page-rtl.scss */
#contact-site-form .contact-form-group .form-item {
  float: right;
}

/* line 506, ../sass/page-rtl.scss */
.contact-address address i {
  margin-left: 7px;
  margin-right: 0;
}

/* end contact page */
/* line 513, ../sass/page-rtl.scss */
.switch-menu-block ul.menu {
  padding-right: 0;
}

/* main */
/* line 521, ../sass/page-rtl.scss */
#main #content .node .field-name-body blockquote {
  margin-left: 0;
  margin-right: 70px;
}
/* line 525, ../sass/page-rtl.scss */
#main #content .node .field-name-body ul {
  padding-left: 0;
  padding-right: 20px;
}
/* line 528, ../sass/page-rtl.scss */
#main #content .node .field-name-body ul li {
  padding-left: 0;
  padding-right: 20px;
}
/* line 531, ../sass/page-rtl.scss */
#main #content .node .field-name-body ul li:before {
  left: auto;
  right: 0;
}
/* line 538, ../sass/page-rtl.scss */
#main #content .node .field-type-image.image-event {
  float: left;
  text-align: left;
}
/* line 542, ../sass/page-rtl.scss */
#main #content .node .group-info {
  float: right;
  padding-left: 30px;
  padding-right: 0;
}
/* line 548, ../sass/page-rtl.scss */
#main #content .node .field-group-htabs-wrapper .group-buy-ticket .node .field-item ul {
  padding-right: 0;
}
/* line 551, ../sass/page-rtl.scss */
#main #content .node .field-group-htabs-wrapper .group-buy-ticket .node .commerce-add-to-cart .form-submit {
  float: left;
  margin-left: -30px;
  margin-right: 0;
}
/* line 557, ../sass/page-rtl.scss */
#main #content .node .field-group-htabs-wrapper .group-buy-ticket .field-item {
  float: right;
}

/* end main */
/* comment */
/* line 566, ../sass/page-rtl.scss */
.comment {
  padding-left: 0;
  padding-right: 75px;
}
/* line 569, ../sass/page-rtl.scss */
.comment .user-picture {
  left: auto;
  right: 0;
}
/* line 574, ../sass/page-rtl.scss */
.comment .links li {
  margin-left: 7px;
  margin-right: 0;
}
/* line 578, ../sass/page-rtl.scss */
.comment .links .comment-reply a:after {
  margin-left: 0;
  margin-right: 5px;
  -ms-transform: scale(-1, 1);
  /* IE 9 */
  -webkit-transform: scale(-1, 1);
  /* Chrome, Safari, Opera */
  transform: scale(-1, 1);
}

/* line 588, ../sass/page-rtl.scss */
.comment-form .group-comment-info .form-item {
  float: right;
}
/* line 592, ../sass/page-rtl.scss */
.comment-form .form-actions .form-submit {
  margin-left: 15px;
  margin-right: 0;
}

/* line 598, ../sass/page-rtl.scss */
.filter-help {
  float: left;
}

/* line 603, ../sass/page-rtl.scss */
.filter-wrapper .form-item {
  float: right;
  padding: 0 1.5em 0.5em 0;
}

/* line 609, ../sass/page-rtl.scss */
.filter-guidelines {
  clear: right;
}

/* end comment */
/* Back to top */
/* line 616, ../sass/page-rtl.scss */
.btn-btt {
  left: 30px;
  right: auto;
}

/* Skin menu */
/* line 623, ../sass/page-rtl.scss */
.change-skin-menu-wrapper ul {
  padding-right: 0;
}
/* line 625, ../sass/page-rtl.scss */
.change-skin-menu-wrapper ul li {
  float: right;
  margin-left: 3px;
  margin-right: 0;
}
/* line 631, ../sass/page-rtl.scss */
.change-skin-menu-wrapper .change-layout-button:first-child {
  border-right: 1px solid #cdcdcd;
  border-left: none;
}

/* line 637, ../sass/page-rtl.scss */
#commerce-checkout-form-checkout .addressfield-container-inline,
#commerce-checkout-form-checkout .form-type-select,
#commerce-checkout-form-checkout .street-block,
#commerce-checkout-form-checkout .locality-block {
  float: right;
}

@media (max-width: 991px) {
  /* line 649, ../sass/page-rtl.scss */
  #page {
    /* --- Mobile menu --- */
    /* End Mobile menu */
  }
  /* line 651, ../sass/page-rtl.scss */
  .html #page {
    left: 0;
    right: auto;
  }
  /* line 654, ../sass/page-rtl.scss */
  .html #page.toggled {
    left: 250px;
    right: auto;
  }
  /* line 657, ../sass/page-rtl.scss */
  .html #page.toggled .mobile-main-menu {
    left: 0;
    right: auto;
  }
  /* line 663, ../sass/page-rtl.scss */
  #page .overlay {
    left: auto;
    right: 0;
  }
  /* line 667, ../sass/page-rtl.scss */
  #page .mobile-main-menu {
    left: -250px;
    right: auto;
  }
  /* line 670, ../sass/page-rtl.scss */
  #page .mobile-main-menu ul.menu {
    padding-right: 0;
  }
  /* line 672, ../sass/page-rtl.scss */
  #page .mobile-main-menu ul.menu > li {
    margin-right: 0;
    padding-left: 0;
  }
  /* line 675, ../sass/page-rtl.scss */
  #page .mobile-main-menu ul.menu > li ul {
    padding: 5px 30px 15px 0;
  }
  /* line 678, ../sass/page-rtl.scss */
  #page .mobile-main-menu ul.menu > li ul li ul {
    padding-left: 0;
    padding-right: 20px;
  }
  /* line 685, ../sass/page-rtl.scss */
  #page .mobile-main-menu ul.menu .expanded > a:before {
    left: 10px;
    right: auto;
  }
  /* line 695, ../sass/page-rtl.scss */
  #page .tb-megamenu .nav li.dropdown > .dropdown-toggle .caret {
    left: 10px;
    right: auto;
  }
  /* line 702, ../sass/page-rtl.scss */
  #page .tb-megamenu .row-fluid [class*="span"] {
    margin-right: 0;
  }
  /* line 705, ../sass/page-rtl.scss */
  #page .tb-megamenu .mega-inner {
    padding: 10px 30px 10px 0 !important;
  }
  /* line 710, ../sass/page-rtl.scss */
  #page #block-search-form {
    left: 25px;
    right: auto;
  }
  /* line 714, ../sass/page-rtl.scss */
  #page .testimonials-block, #page .why-choose-us-block {
    padding: 0;
  }
  /* line 717, ../sass/page-rtl.scss */
  #page .navbar-toggle {
    float: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 725, ../sass/page-rtl.scss */
  #page .countdown-views {
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  /* line 733, ../sass/page-rtl.scss */
  #page .countdown-views {
    padding-right: 30px;
  }
  /* line 736, ../sass/page-rtl.scss */
  #page .speakers-views .views-exposed-form .views-submit-button {
    text-align: right;
  }
}
@media (max-width: 640px) {
  /* line 743, ../sass/page-rtl.scss */
  #page {
    /* event-list */
    /* end event-list */
  }
  /* line 746, ../sass/page-rtl.scss */
  #page .event-list .views-field-type-image {
    margin-left: -15px;
  }
  /* line 749, ../sass/page-rtl.scss */
  #page .event-list .fieldset {
    padding-left: 10px;
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  /* line 759, ../sass/page-rtl.scss */
  #page {
    /* happy-clients */
    /* end happy-clients */
    /* testimonials-block */
    /* end testimonials-block */
  }
  /* line 761, ../sass/page-rtl.scss */
  #page .happy-clients .flexslider .views-field-picture {
    left: auto;
    right: 50%;
    margin-left: 0;
    margin-right: -50px;
  }
  /* line 769, ../sass/page-rtl.scss */
  #page .testimonials-block .flexslider {
    padding-right: 0;
  }

  /* line 774, ../sass/page-rtl.scss */
  .cart-review .commerce-line-item-actions .form-submit {
    margin-right: 0;
  }

  /* line 777, ../sass/page-rtl.scss */
  .shopping-cart {
    margin-left: 0;
    margin-right: 10px;
  }
}
@media (max-width: 360px) {
  /* line 784, ../sass/page-rtl.scss */
  #page {
    /* headline */
    /* end headline */
    /* panel-third */
    /* end panel-third */
  }
  /* line 788, ../sass/page-rtl.scss */
  #page .headline .block-menu ul.menu {
    padding-right: 0;
  }
  /* line 793, ../sass/page-rtl.scss */
  #page .headline .lang_dropdown_form .dd-selected {
    padding-left: 15px;
    padding-right: 10px;
  }
  /* line 802, ../sass/page-rtl.scss */
  #page .tabs.primary, #page .tabs.secondary {
    margin-left: 0;
  }
  /* line 807, ../sass/page-rtl.scss */
  #page #panel-third .block-bean .field-type-icon-field,
  #page #panel-third .block-bean .group-statistic-info {
    float: right;
  }
}
@media (max-width: 320px) {
  /* line 817, ../sass/page-rtl.scss */
  #page {
    /* slideshow */
  }
  /* line 818, ../sass/page-rtl.scss */
  #page .commerce-paypal-icons .label {
    padding-right: 0;
  }
  /* line 822, ../sass/page-rtl.scss */
  #page .countdown-views {
    padding-left: 15px;
    padding-right: 15px;
  }
}
