/* COLORS */
/* line 6, ../../../sass/colors/green/style.scss */
.event-views .views-field-view-node a:hover, .countdown-views .views-field-view-node a:hover {
  background-color: #5edda6;
}

/* line 19, ../../../sass/colors/green/style.scss */
a:hover, a:focus {
  color: #5edda6;
}

/* line 24, ../../../sass/colors/green/style.scss */
.form-submit {
  border-color: #5edda6;
  background-color: #5edda6;
}
/* line 27, ../../../sass/colors/green/style.scss */
.form-submit:hover, .form-submit:focus {
  background-color: #7d7d7d;
  border-color: #7d7d7d;
}

/* line 34, ../../../sass/colors/green/style.scss */
.header {
  background-color: #5edda6;
}

@media (min-width: 992px) {
  /* line 44, ../../../sass/colors/green/style.scss */
  .tb-megamenu-main-menu .nav li.dropdown.open .tb-megamenu-submenu a:hover, .tb-megamenu-main-menu .nav li.dropdown.open .tb-megamenu-submenu a:focus {
    color: #5edda6;
  }
  /* line 54, ../../../sass/colors/green/style.scss */
  .tb-megamenu-main-menu .dropdown-menu li > a:hover, .tb-megamenu-main-menu .dropdown-menu li > a:focus {
    color: #5edda6;
  }
  /* line 59, ../../../sass/colors/green/style.scss */
  .tb-megamenu-main-menu .dropdown-menu .active > a, .tb-megamenu-main-menu .dropdown-menu .active > a:hover {
    color: #5edda6 !important;
  }
}
/* line 66, ../../../sass/colors/green/style.scss */
.affix {
  background-color: rgba(94, 221, 166, 0.75);
}

/* language */
/* line 72, ../../../sass/colors/green/style.scss */
.ddsDefault .dd-desc, .ddsDefault .dd-selected, .ddsDefault .dd-selected:hover, .ddsDefault .dd-selected:focus {
  color: #5edda6;
}
/* line 75, ../../../sass/colors/green/style.scss */
.ddsDefault .dd-pointer-down {
  border-top-color: #5edda6;
}
/* line 78, ../../../sass/colors/green/style.scss */
.ddsDefault .dd-pointer-up {
  border-bottom-color: #5edda6 !important;
  border-top-color: transparent !important;
}

/* line 87, ../../../sass/colors/green/style.scss */
.jcarousel-skin-default .jcarousel-next:hover,
.jcarousel-skin-default .jcarousel-prev:hover {
  background-color: #5edda6;
  border-color: #5edda6;
}
/* line 93, ../../../sass/colors/green/style.scss */
.jcarousel-skin-default .jcarousel-navigation li a {
  background-color: #5edda6;
  border: 2px solid #5edda6;
}
/* line 97, ../../../sass/colors/green/style.scss */
.jcarousel-skin-default .jcarousel-navigation li.active a {
  background-color: #5edda6;
}

/* panel-first */
/* line 106, ../../../sass/colors/green/style.scss */
#panel-first:after {
  background-color: rgba(94, 221, 166, 0.85);
}

/* line 114, ../../../sass/colors/green/style.scss */
.panel-column ul.menu a:hover, .panel-column ul.menu a:focus {
  color: #5edda6;
}
/* line 118, ../../../sass/colors/green/style.scss */
.panel-column ul.menu a.active {
  color: #5edda6;
}
/* line 123, ../../../sass/colors/green/style.scss */
.panel-column blockquote:before, .panel-column blockquote:after {
  color: #5edda6;
}

/* panel-third */
/* line 132, ../../../sass/colors/green/style.scss */
#panel-third .block-bean .field-name-field-amount {
  color: #5edda6;
}

/* line 12, ../../../sass/colors/green/style.scss */
#panel-fourth h2 span:after, #panel-second h2 span:after, #panel-fifth h2 span:after {
  border-bottom: 2px solid #5edda6;
}

/* line 150, ../../../sass/colors/green/style.scss */
.speakers-views .views-field-name a:hover, .speakers-views .views-field-name a:focus {
  color: #5edda6;
}
/* line 155, ../../../sass/colors/green/style.scss */
.speakers-views .views-field-field-career {
  color: #5edda6;
}

/* line 164, ../../../sass/colors/green/style.scss */
.tabs.primary li a:hover, .tabs.primary li a:focus, .tabs.secondary li a:hover, .tabs.secondary li a:focus {
  color: #5edda6;
}
/* line 170, ../../../sass/colors/green/style.scss */
.tabs.primary .active a, .tabs.secondary .active a {
  background-color: #5edda6;
}
/* line 172, ../../../sass/colors/green/style.scss */
.tabs.primary .active a:hover, .tabs.primary .active a:focus, .tabs.secondary .active a:hover, .tabs.secondary .active a:focus {
  background-color: #5edda6;
}

/* line 182, ../../../sass/colors/green/style.scss */
.panel-group .panel-heading a {
  color: #5edda6;
}
/* line 184, ../../../sass/colors/green/style.scss */
.panel-group .panel-heading a:before {
  border-color: #5edda6;
  color: #5edda6;
}
/* line 190, ../../../sass/colors/green/style.scss */
.panel-group .panel-heading a.collapsed:hover, .panel-group .panel-heading a.collapsed:focus {
  color: #5edda6;
}
/* line 192, ../../../sass/colors/green/style.scss */
.panel-group .panel-heading a.collapsed:hover:before, .panel-group .panel-heading a.collapsed:focus:before {
  color: #5edda6;
  border-color: #5edda6;
}
/* line 197, ../../../sass/colors/green/style.scss */
.panel-group .panel-heading a.collapsed:before {
  border-color: #707070;
  color: #707070;
}

/* line 209, ../../../sass/colors/green/style.scss */
.ui-jcoverflip--item .views-field-view-node a:hover {
  background-color: #5edda6;
}

/* line 227, ../../../sass/colors/green/style.scss */
.event-calendar .view-header .date-nav-wrapper .pager li a:hover, .event-calendar .view-header .date-nav-wrapper .pager li a:focus {
  color: #5edda6;
}
/* line 234, ../../../sass/colors/green/style.scss */
.event-calendar .calendar-calendar table th.days {
  color: #5edda6;
}

/* line 243, ../../../sass/colors/green/style.scss */
.event-tickets .field-name-commerce-price {
  color: #5edda6;
}
/* line 248, ../../../sass/colors/green/style.scss */
.event-tickets .field-name-field-ticket .form-submit:hover {
  background-color: #5edda6;
  border-color: #5edda6;
}

/* line 259, ../../../sass/colors/green/style.scss */
.event-type .date-display-single .day, .event-type .date-display-single .hour {
  color: #5edda6;
}
/* line 265, ../../../sass/colors/green/style.scss */
.event-type .views-field-title a:hover, .event-type .views-field-title a:focus {
  color: #5edda6;
}
/* line 272, ../../../sass/colors/green/style.scss */
.event-type .views-field-view-node a:hover, .event-type .views-field-view-node a:focus {
  background-color: #5edda6;
}

/* event details */
/* line 287, ../../../sass/colors/green/style.scss */
#main #content .node .field-group-htabs-wrapper .horizontal-tabs-list li a strong {
  color: #7d7d7d;
}
/* line 291, ../../../sass/colors/green/style.scss */
#main #content .node .field-group-htabs-wrapper .horizontal-tabs-list li a:hover strong, #main #content .node .field-group-htabs-wrapper .horizontal-tabs-list li a:focus strong {
  color: #5edda6;
}
/* line 297, ../../../sass/colors/green/style.scss */
#main #content .node .field-group-htabs-wrapper .horizontal-tabs-list li.selected {
  background-color: #5edda6;
}

/* line 309, ../../../sass/colors/green/style.scss */
.gallery-views .views-field-type-image a:before {
  background-color: rgba(94, 221, 166, 0.85);
}
/* line 315, ../../../sass/colors/green/style.scss */
.gallery-views .views-field-view-node a:hover {
  background-color: #5edda6;
}

/* line 326, ../../../sass/colors/green/style.scss */
.news-type .views-field-title a:hover, .news-type .views-field-title a:focus {
  color: #5edda6;
}
/* line 333, ../../../sass/colors/green/style.scss */
.news-type .views-field-view-node a:hover, .news-type .views-field-view-node a:focus {
  background-color: #5edda6;
}

/* news content */
/* line 346, ../../../sass/colors/green/style.scss */
#main #content .node .created-date a:hover, #main #content .node .created-date a:focus {
  color: #5edda6;
}
/* line 352, ../../../sass/colors/green/style.scss */
#main #content .node .field-name-title-field h2 {
  color: #5edda6;
}
/* line 357, ../../../sass/colors/green/style.scss */
#main #content .node .field-name-body blockquote {
  border-color: #5edda6;
}
/* line 362, ../../../sass/colors/green/style.scss */
#main #content .node .comment-links a {
  color: #5edda6;
}
/* line 364, ../../../sass/colors/green/style.scss */
#main #content .node .comment-links a:hover, #main #content .node .comment-links a:focus {
  color: #888888;
}

/* line 376, ../../../sass/colors/green/style.scss */
.simplenews-subscribe .form-item:hover:after, .simplenews-subscribe .form-item:focus:after {
  color: #5edda6;
}

/* line 384, ../../../sass/colors/green/style.scss */
.simplenews-unsubscribe .form-submit:hover, .simplenews-unsubscribe .form-submit:focus {
  background-color: #5edda6 !important;
  border-color: #5edda6;
}

/* line 392, ../../../sass/colors/green/style.scss */
.logged-in .simplenews-subscribe .form-submit:hover, .logged-in .simplenews-subscribe .form-submit:focus {
  background-color: #5edda6;
  border-color: #5edda6;
}

/* line 402, ../../../sass/colors/green/style.scss */
.search-wrapper .form-actions:hover:after, .search-wrapper .form-actions:focus:after {
  background-color: #5edda6;
}

/* line 412, ../../../sass/colors/green/style.scss */
#search-form legend a:hover, #search-form legend a:focus {
  color: #5edda6;
}

/* line 421, ../../../sass/colors/green/style.scss */
.flex-control-paging li a.flex-active {
  background-color: #5edda6;
}

/* line 428, ../../../sass/colors/green/style.scss */
.flexslider .flex-direction-nav a:hover {
  background-color: #5edda6;
}

/* line 437, ../../../sass/colors/green/style.scss */
.happy-clients .flexslider .views-field-name a, .happy-clients .flexslider .views-field-field-full-name a {
  color: #5edda6;
}

/* back to top */
/* line 446, ../../../sass/colors/green/style.scss */
.btn-btt:hover, .btn-btt:focus {
  background: #5edda6;
}

/* comment */
/* line 454, ../../../sass/colors/green/style.scss */
.comment .submitted a {
  color: #5edda6;
}
/* line 456, ../../../sass/colors/green/style.scss */
.comment .submitted a:hover, .comment .submitted a:focus {
  color: #888888;
}
/* line 462, ../../../sass/colors/green/style.scss */
.comment .links a {
  color: #5edda6;
}
/* line 464, ../../../sass/colors/green/style.scss */
.comment .links a:hover, .comment .links a:focus {
  color: #888888;
}

/* edit user */
/* line 475, ../../../sass/colors/green/style.scss */
#user-profile-form legend a:hover, #user-profile-form legend a:focus {
  color: #5edda6;
}

/* form login */
/* line 484, ../../../sass/colors/green/style.scss */
#modalContent .modal-header {
  background-color: #5edda6;
}
/* line 488, ../../../sass/colors/green/style.scss */
#modalContent ul li a:hover, #modalContent ul li a:focus {
  color: #5edda6;
}

/* view cart */
/* line 499, ../../../sass/colors/green/style.scss */
.cart-review tbody .views-field-line-item-title a:hover, .cart-review tbody .views-field-line-item-title a:focus {
  color: #5edda6;
}
/* line 507, ../../../sass/colors/green/style.scss */
.cart-review tbody .views-field-edit-delete .delete-button:hover:before, .cart-review tbody .views-field-edit-delete .delete-button:focus:before {
  color: #5edda6;
}
/* line 515, ../../../sass/colors/green/style.scss */
.cart-review .continue-shopping:hover, .cart-review .continue-shopping:focus {
  background-color: #5edda6;
  border-color: #5edda6;
}

/* action-links */
/* line 525, ../../../sass/colors/green/style.scss */
.action-links li a {
  border-color: #5edda6;
  background-color: #5edda6;
}
/* line 528, ../../../sass/colors/green/style.scss */
.action-links li a:hover, .action-links li a:focus {
  background-color: #7d7d7d;
  border-color: #7d7d7d;
}

/* form checkout */
/* line 538, ../../../sass/colors/green/style.scss */
#commerce-checkout-form-checkout .form-submit {
  border-color: #5edda6;
  background-color: #5edda6;
}
/* line 541, ../../../sass/colors/green/style.scss */
#commerce-checkout-form-checkout .form-submit:hover, #commerce-checkout-form-checkout .form-submit:focus {
  background-color: #7d7d7d;
  border-color: #7d7d7d;
}

/* commerce-checkout-form-review */
/* line 550, ../../../sass/colors/green/style.scss */
#commerce-checkout-form-review .form-submit {
  border-color: #5edda6;
  background-color: #5edda6;
}
/* line 553, ../../../sass/colors/green/style.scss */
#commerce-checkout-form-review .form-submit:hover, #commerce-checkout-form-review .form-submit:focus {
  background-color: #7d7d7d;
  border-color: #7d7d7d;
}

/* commerce-checkout-form-complete */
/* line 564, ../../../sass/colors/green/style.scss */
#commerce-checkout-form-complete .checkout-completion-message a:hover, #commerce-checkout-form-complete .checkout-completion-message a:focus {
  color: #5edda6;
}

/* line 572, ../../../sass/colors/green/style.scss */
.bg-light {
  /****/
  /****/
  /****/
  /****/
  /****/
}
/* line 575, ../../../sass/colors/green/style.scss */
.bg-light .ui-jcoverflip--item .views-field-view-node a:hover, .bg-light .ui-jcoverflip--item .views-field-view-node a:focus {
  background-color: #5edda6;
}
/* line 583, ../../../sass/colors/green/style.scss */
.bg-light .event-tickets .field-name-field-ticket .form-submit:hover, .bg-light .event-tickets .field-name-field-ticket .form-submit:focus {
  background-color: #5edda6;
  border-color: #5edda6;
}
/* line 591, ../../../sass/colors/green/style.scss */
.bg-light .simplenews-unsubscribe .form-submit:hover, .bg-light .simplenews-unsubscribe .form-submit:focus {
  background-color: #5edda6 !important;
  border-color: #5edda6;
}
/* line 597, ../../../sass/colors/green/style.scss */
.bg-light.logged-in .simplenews-subscribe .form-submit:hover, .bg-light.logged-in .simplenews-subscribe .form-submit:focus {
  background-color: #5edda6 !important;
  border-color: #5edda6;
}
/* line 604, ../../../sass/colors/green/style.scss */
.bg-light .news-type .views-field-view-node a:hover, .bg-light .news-type .views-field-view-node a:focus {
  background-color: #5edda6;
}
/* line 611, ../../../sass/colors/green/style.scss */
.bg-light .event-type .views-field-view-node a:hover, .bg-light .event-type .views-field-view-node a:focus {
  background-color: #5edda6;
}
/* line 620, ../../../sass/colors/green/style.scss */
.bg-light #commerce-checkout-form-complete .checkout-completion-message a:hover, .bg-light #commerce-checkout-form-complete .checkout-completion-message a:focus {
  color: #5edda6;
}

/* line 629, ../../../sass/colors/green/style.scss */
.btn-become:hover, .btn-become:focus {
  background-color: #5edda6;
  color: #fff;
}

/* line 636, ../../../sass/colors/green/style.scss */
.error-404 h2, .error-404 p {
  color: #5edda6;
}
/* line 640, ../../../sass/colors/green/style.scss */
.error-404 a:hover, .error-404 a:focus {
  background-color: #5edda6;
  color: #fff;
}

/* line 649, ../../../sass/colors/green/style.scss */
.contact-info a:hover, .contact-info a:focus, .bg-light .contact-info a:hover, .bg-light .contact-info a:focus {
  color: #5edda6;
}

/* line 656, ../../../sass/colors/green/style.scss */
.mfp-arrow:hover, .mfp-arrow:focus {
  background-color: #5edda6 !important;
}
